.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

egts/grid/raw
egts/point/raw
egts/grid/average_stacks.rds
egts/point/geolocated.rds

service-account.json
nerdmobile/zip_archive

Rplots.pdf
nerdmobile/nerdmobile_recovery/**
nerdmobile/UATAQ_Nerdmobile/
nerdmobile/zip_archive/
